@CHARSET "ISO-8859-1";


.encabezado { 
  text-align: center;
  width: 100%;
  font-family: TIZA;
  font-size: 200%;
  color: #FDB201;
  height: 45px;
 }
 
 

.icono{
  border-style: none;
}

.boton-escenario{ 
  float: left;
}

.cuerpo{
  background-image: url("../../imagenes/patter_madera.jpg");
}

.texto-menu{
  font-size: x-small;
  color: #8DC236;
}

.texto-clave{
  font-size: small;
  background-color: #897762;
  color: #FDB201;
  border: thin;
  width: 80%;
}

.seleccion {
  font-size: xx-small;
  color: #BE8601;
  background: transparent;
  border-style: hidden; 
 }

.selec-extra {
  width: 30%;
  font-size: xx-small;
  color: #BE8601;
  background: transparent;
  border-style: hidden;
  /*padding-left: 5px;*/
}

.panel-config { 
  float: left;
  font-weight: bolder;
  padding-left: 0.5%;               
  height: 85px;
  border: 1px solid #897762;
}

.estilo-escenario {
  border: 2px solid #261B15; 
  height: 380px;
  overflow: auto;
  width: 77%;
  float: left;
  background-image: url("../../imagenes/pizarra.jpg");
  color: white;
  font-family: Barbarjowe Pisanki;	 
}

.estilo-historial { 
  background-image: url("../../imagenes/pizarra.jpg");	
  border: 2px solid #261B15;
  height: 380px;
  overflow: auto;
  width: 22%;
  float: left;
  color: #E1DC04;
  font-family: Barbarjowe Pisanki;
  font-size: 140%;
  font-weight: bold; 
}

.estilo-panel-funcion{
  float: none;
  height: 50px;
  margin-left: 8%;
  width: 90%;
  font-family: Barbarjowe Pisanki;
  font-size: 200%;
  font-weight: bold; 
}

.instancias{
  border: none;
  float: left;
  padding-left: 10%;
  padding-top: 2%;
  font-size: 128%;
  font-weight: bold;
  
}

.pie-pagina{
  width: 100%;
  height: 20px;
}
