/* global */
html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font-family: 'trebuchet ms', arial, sans-serif;
  font-size: .80em;
  background: #F5F5F5 url(pattern.jpg);
  color: #47433F;}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 165% 'century gothic', arial, sans-serif;
  color: #2DB8CD;
  margin: 0 0 14px 0;
  padding: 10px 0 5px 0;}

h2
{ font: normal 165% 'century gothic', arial, sans-serif;
  color: #B60000;}

h3
{ font: normal 165% 'century gothic', arial, sans-serif;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;
  color: #B60000;}

h5, h6
{ font: italic 95% arial, sans-serif;
  color: #888;}

h6
{ color: #362C20;}

a
{ outline: none;
  text-decoration: none;}

/* image positioning - left, right and center */
.left
{ float: left;
  margin-right: 10px;}

.right
{ float: right; 
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

/* block quote */
blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

/* unordered list */

ul
{ margin: 2px 0 22px 17px;}

ul li
{ /*list-style-type: circle;*/
  margin: 0 0 6px 0; 
  /*padding: 0 0 4px 5px;*/}

/* ordered list */

ol
{ /*margin: 8px 0 22px 20px;*/}

ol li
{/*margin: 0 0 11px 0;*/}

/* margin lefts / margin rights - to centre content */
#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

/* header area */
#header
{ background: url(back.png) repeat-x;
  height: 174px;}

#logo
{ width: 870px;
  height: 129px;}

#logo h1, #logo h2
{ font: normal 300% "century gothic", arial, sans-serif;}

#logo h1
{ padding: 24px 0 0 0;
  margin: 0;
  color: #FFF;}

#logo h2
{ font-size: 120%;
  padding: 4px 0 0 0;
  color: #A8AA94;}

/* navigation menu */
#menubar
{ width: 1050px;
  height: 46px;
  padding: 0 0 0 4px;} 

ul#menu
{ float: right;}

ul#menu li
{ float: left;
  margin: 5px 0 0 0;
  padding: 0 0 0 6px;
  list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 90% 'trebuchet ms', arial, sans-serif;
  display: block; 
  float: left; 
  height: 20px;
  padding: 9px 22px 5px 16px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;} 

ul#menu li.tab_selected a
{ height: 20px;
  padding: 7px 22px 4px 16px;}

ul#menu li.tab_selected
{ margin: 7px 0 0 0;
  background: #635B53 url(tabs.png) no-repeat 0 0px;}

ul#menu li.tab_selected a, ul#menu li.tab_selected a:hover
{ background: #635B53 url(tabs.png) no-repeat 100% 0px;
  color: #FFF;}

ul#menu li a:hover
{color: #A4AA04;}

.menu_params
{
  left: 10px; 
  top: 150px; 
  position: fixed; 
  width: 222px;
  cursor: move;
}

.function_panel
{
  left: 10px; 
  top: 15px; 
  position: fixed; 
  width: 222px;
  cursor: move;
}

#sidebar_virtual_keyboard {
  left: 70%; 
  top: 160px; 
  position: fixed; 
  width: 400px;
  cursor: move;
}

#sidebar_menu_operation
{
  left: 82.6%; 
  top: 2.1%; 
  position: fixed; 
  width: 221px;
  cursor: move;
}

/* main content */
#site_content
{ width: 875px;
  overflow: hidden;
  margin: 15px auto;} 

/* sidebar */
#sidebar_container
{ float: right;
  width: 224px;}

.sidebar_top
{ width: 222px;
  height: 14px;
  background: transparent url(side_top.png) no-repeat;}

.sidebar_base
{ width: 222px;
  height: 14px;
  background: url(side_base.png) no-repeat;}

.sidebar
{ float: right;
  width: 222px;
  padding: 0;
  margin: 0 0 16px 0;}
  
.sidebar_rw{
 float: left;
 width: 200px;
 padding: 0;
 margin: 0 0 16px 0;
}  

.sidebar_item
{ background: url(side_back.png) repeat-y;
  padding: 0 20px;
  width: 182px;}

.sidebar ul
{ width: 178px; 
  padding: 0; 
  margin: 0;}

.sidebar li
{ list-style: none;
  margin: 0;
  padding: 0 0 7px 0; }

.sidebar li a, .sidebar li a:hover
{ padding: 0 0 0 25px;
  display: block;
  background: transparent url(link.png) no-repeat left center;
  color: #A4AA04;
  text-decoration: underline;} 

.sidebar li a.selected, .sidebar li a:hover, .sidebar li a.selected:hover
{ color: #A4AA04;
  text-decoration: none;}

/* page content */
/*#content_container
{ float: left;
  width: 633px;}*/

.content_container
{ float: left;
  width: 633px;}

#content_top
{ width: 633px;
  height: 14px;
  background: transparent url(content_top.png) no-repeat;}

#content_base
{ width: 633px;
  height: 14px;
  background: url(content_base.png) no-repeat;}

#content
{ /*text-align: left;*/
  background: url(content.png) repeat;
  width: 593px;
  padding: 0 20px;}

#content a, .sidebar a
{ text-decoration: underline;
  color: #A4AA04;}

#content a:hover, .sidebar a:hover
{ text-decoration: none;
  color: #A4AA04;}

#content ul
{ margin: 0 15px; 
  padding: 0;}

#content ul li
{ padding: 0 0 10px 0;
  margin: 0;}

/* footer */
#footer
{ width: 100%;
  font-family: sans-serif;
  font-size: 90%;
  height: 33px;
  padding: 24px 0 5px 0;
  text-align: center; 
  background: #635B53 url(footer.png) repeat-x;
  color: #A8AA94;
  text-transform: uppercase;
  letter-spacing: 0.1em;}

#footer a
{ color: #A8AA94;}

#footer a:hover
{ color: #FFF;}

.logo_colour
{ color: #2DB8CD;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 288px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 200px; 
  height: 35px;
  padding: 8px;
  cursor: pointer; 
  background: #555; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 288px;}

.form_settings select
{ width: 300px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #fff;
  margin: 0 0 20px 0;}
  
table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: #666;
  color: #FFF;
  padding: 7px 4px;}
  
table tr td
{ background: #CCC;
  color: #47433F;
  border-top: 1px solid #EDEBE5;}
  
  
#filaFlecha  
{ background: white; /*#F5F5F5 url(pattern.jpg);*/
  border-top: none;
  width: 20px;
  height: 31px;  
}
  
  
/* sidebar left */
#sidebar_container_left
{ float: left;
  width: 224px;
  margin: 16px 0 0 0;}

.sidebar_left
{ float: left;
  width: 222px;
  padding: 0;
}

.req_field{
  color: #C60000;
  visibility: hidden;
  font-size: medium;
}

.new_button{ 
  border: 1px solid bold; 
  width: 150px;  
  height: 32px;
  cursor: pointer; 
  background: #555; 
  color: #FFF;
}